
body{
    color: azure;
}
.spacer
{
    height: 200px;
}
.Download{

    width: 100%;
    height: 900px;
}


.Download .row> .col-8
{
    position: relative;
}



.Download-button
{
    color: #010D16;
    height: 75px;
    border-radius: 15px;    
}


/* Buttons */ 
#Home-ed
{
    background-image: linear-gradient(to left,#045a9c ,rgb(11, 206, 206)); /* Adjust colors as needed */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #05eeff56 0px 30px 60px -30px, #05eeff3e 0px -2px 6px 0px inset;
}
#Predator-ed
{
    background-image: linear-gradient(to left, #38004e  , #A600E7  );
}
#Wireless-ed
{
    background-image: linear-gradient(to left,#590d22  , #a4133c); 

}
#Dark-ed
{
    background-image: linear-gradient(to left,#010139  , #0466c8); 

}
#ARM-ed
{
    background-image: linear-gradient(to left,#10451d  , #4ad66d ); 
   
}

/* Content */

.content-download
{
    background-color: #041a2b;
    border-radius: 15px;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
}


.download-header-logo img{
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 15px;
    background-color: #010D16;
    border-radius: 50%;
    border: #05EEFF solid 2px;
} 


.show-case img
{
    max-width: 75%;
    border-radius: 25px;
}
.show-case-buttons button
{
    background-image: linear-gradient(to right, rgb(11, 206, 206), #03599a); /* Adjust colors as needed */
    height: 50px;
    color: #041a2b;
}

.Credentials-box
{

background-color: #010D16;
 border: 2px #05EEFF solid;
 border-radius:15px;
 padding: 15px;   
 height: 160px;
}

.nav-btn img 
{
    position: relative;
    right: 20px;
}



.disactive
{
    display: none;
}

.active{
    display: block;
}
.re-posetion
{
    position: relative;
    left: 440px;
    bottom: 600px;
}
