
body{
    color: azure;
}
.spacer
{
    height: 90px;
}
.Download {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 100px;
}


.Download .row> .col-8
{
    position: relative;
    width: 990px;
}



.Download-button {
    color: #010D16;
    height: 65px;
    border-radius: 10px;  
    width: 18%;
    cursor: pointer;
}


.Download-button img
{
    max-width: 15%;
    margin-right: 20px;
}
/* Buttons */ 
#Home-ed
{
    background-image: linear-gradient(to left,#045a9c ,rgb(11, 206, 206)); /* Adjust colors as needed */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #05eeff56 0px 30px 60px -30px, #05eeff3e 0px -2px 6px 0px inset;
}
#Predator-ed
{
    background-image: linear-gradient(to left, #38004e  , #A600E7  );
}
#Wireless-ed
{
    background-image: linear-gradient(to left,#590d22  , #a4133c); 

}
#Dark-ed
{
    background-image: linear-gradient(to left,#010139  , #0466c8); 

}
#ARM-ed
{
    background-image: linear-gradient(to left,#10451d  , #4ad66d ); 
   
}

/* Content */

.content-download {
    background-color: #041a2b;
    border-radius: 15px;
    width: 100%;
}


.download-header-logo img{
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 15px;
    background-color: #010D16;
    border-radius: 50%;
    border: #05EEFF solid 2px;
} 


.show-case img
{
    max-width: 83%;
    border-radius: 25px;
}
.show-case-buttons button
{
    background-image: linear-gradient(to right, rgb(11, 206, 206), #03599a); /* Adjust colors as needed */
    height: 50px;
    color: #041a2b;
}

.Credentials-box
{

    background-color: #010D16;
    border: 2px #05EEFF solid;
    border-radius:15px;
    padding: 15px;
    height: 160px;
    position: relative;
    bottom: -75px;

}

.Credentials-box-arm
{

    background-color: #010D16;
    border: 2px #05EEFF solid;
    border-radius:15px;
    padding: 15px;
    height: 160px;
    position: relative;
    bottom: -150px;

}

.nav-btn img 
{
    position: relative;
    right: 20px;
}



.disactive
{
    display: none;
}

.active{
    display: block;
}

/* Default scrollbar style */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

/* Scrollbar styles for each edition */
.home-scrollbar::-webkit-scrollbar-thumb {
    background-color: #038c96;
}

.home-scrollbar::-webkit-scrollbar-thumb:hover,
.home-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #038c96; /* Keeps the color same when hovered */
}

.predator-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A600E7;
}

.predator-scrollbar::-webkit-scrollbar-thumb:hover,
.predator-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #A600E7;
}

.wireless-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a4133c;
}

.wireless-scrollbar::-webkit-scrollbar-thumb:hover,
.wireless-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #a4133c;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0466c8;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover,
.dark-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #0466c8;
}

.arm-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4ad66d;
}

.arm-scrollbar::-webkit-scrollbar-thumb:hover,
.arm-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #4ad66d;
}
