*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
/* header photo */ 

.header-photo
{
  
    width: 100%;
    height: 100vh;
    background-image: url("../Images/ICE-MOON.jpg");
    background-size: cover;
}
.gradint
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#010D16  , #010d16b9);
}

/* Nav bar */ 
header
{
    width: 100%;
    height: 120px;
}

.logo-back
{
    width: 100%;
    height: 100%;
    max-width: 80%;
}
.logo-back a
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img
{
    max-width: 80%;
}


ul
{
    list-style: none;
}
ul li a 
{
    text-decoration: none;
}
.download .btn 
{
    background-color: #2497DC;
    padding: 10px 60px;
    margin-bottom: 20px;
    border-radius: 60px;
}