*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
/* header photo */ 

.header-photo
{
  
    width: 100%;
    height: 100vh;
    background-image: url("../Images/main-bg.jpg");
    background-size: cover;
}
.gradint
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#010D16  , #010d16b9);
}

/* Nav bar */ 
header
{
    width: 100%;
    height: 120px;
}

/* nav logo */ 
.logo-back
{
    width: 100%;
    height: 100%;
    max-width: 80%;
}

.logo img
{
    max-width: 55%;
    background-color: #031726;
    border-radius: 50%;
}
/* nav list */
ul
{
    list-style: none;
}
ul li a 
{
    text-decoration: none;
}
/* button */
.download .btn 
{
    background-color: #05EEFF;
    padding: 8px 55px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: aliceblue;
    font-weight:bolder ;
}



/* header*/
.header-text > p 
{
    color: #05EEFF;
    font-size: 12px;

}
.header-text h1
{
    font-weight: bolder;
    font-size: 60px;
}
h1 > span{
    color: #05EEFF;

}
#p-light
{
    color: #9d9d9dd5;
}